<strong>Olá, {{ name }} </strong>
<p>Solitação para redefinição de senha</p>
<p>
Obrigado por entrar em contato sobre a alteração de senha. Basta clicar aqui e
seguir as instruções. Não se esqueça que a senha diferencia de letras maiúsculas de minusculás.
{{ token }}
</p>
<br />
<p>
Se você não solicitou a alteração de senha. Entre em contato conosco e
ignore esse email. Em caso de qualquer dúvida ligue, ficaremos felizes em ajudar. Ligue para telefone geec.
</p>



